.headLogo {
    width: 100%;
}

header {
    background-color: white;
}

#headTitle {
    width: 80%;
}

.imgIndex {
    height: auto;
}

.topad {
    padding-top: 30px;
}

.topad2 {
    padding-top: 70px;
}
