

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="author" content="RL,PAH,MSL" />
    <meta name="keywords" content="Contact, Adresses, Clinique, Santé" />
    <meta name="description" content="Comment se rendre et appeler à la clinique" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="~/css/RLStyle.css" rel="stylesheet" />
    <title>Clinique2000- Nous joindre</title>
</head>
<body id="BodyColor">


    <section>
        <div style="padding-top:15px" class="row">

            <div class="col-lg-12">
                <img id="Map" src="~/images/carteetmarqueur.png" alt="MAP" />
            </div>
        </div>
        <div id="AfterMap" class="row">

            <div class="col-sm-4">
                <p>
                    Adresse:
                    <br />
                    Clinique 2000 Choquette
                    <br />
                    1380, Avenue Choquette
                    <br />
                    Saint-Hyacinthe (Québec)
                    <br />
                    J2A 8T5
                </p>
                <br>
                <p>
                    Adresse:
                    <br />
                    Clinique 2000 Giard
                    <br />
                    6, Rue Giard
                    <br />
                    Saint-Hyacinthe (Québec)
                    <br />
                    J2A 8T5

                </p>
                <br>
                <p>
                    Adresse:
                    <br />
                    Clinique 2000 Dessaules
                    <br />
                    289, boulevard Desssaules
                    <br />
                    Saint-Hyacinthe (Québec)
                    <br />
                    J2A 8T5

                </p>
                <br>
                <p>
                    Adresse:
                    <br />
                    Clinique 2000 Dunemil
                    <br />
                    684, Rue Dunemil
                    <br />
                    Saint-Hyacinthe (Québec)
                    <br />
                    J2A 8T5

                </p>
                <br>
            </div>
            <div class="col-sm-4">

                <p>
                    Les équipes des cliniques 2000 vous attendent avec impatience 7 jours sur 7 sur heures d'ouverture.
                    Nous sommes situé à Saint-Hyacinthe, en Montérégie, situé entre Québec et Montréal, proche de l'autoroute
                    20.
                </p>
                <br />
                <p>
                    <table>
                        <tr>
                            <th>Heure d'ouverture</th>

                        </tr>
                        <tr>
                            <td>Lundi</td>
                            <td>5:00am - 23:00 pm</td>

                        </tr>
                        <tr>
                            <td>Mardi</td>
                            <td>5:00am - 23:00 pm</td>

                        </tr>
                        <tr>
                            <td>Mercredi</td>
                            <td>5:00am - 23:00 pm</td>

                        </tr>
                        <tr>
                            <td>Jeudi</td>
                            <td>5:00am - 23:00 pm</td>

                        </tr>
                        <tr>
                            <td>Vendredi</td>
                            <td>8:00am - 22:00 pm</td>

                        </tr>
                        <tr>
                            <td>Samedi</td>
                            <td>8:00am - 20:00 pm</td>

                        </tr>
                        <tr>
                            <td>Dimanche</td>
                            <td>9:00am - 18:00 pm</td>

                        </tr>


                    </table>
                </p>
                <br />
                <p>
                    Coordonnées
                    <br />
                    Téléphone maison mère : 450-771-BOBO
                    <br />
                    Télécopieur : 450-771-RAMQ
                    <br />
                    Courriel : Clinique2000@House.ca
                    <br />
                    Web : www.clinique2000.com
                </p>
                <br />


            </div>
            <div class="col-sm-4">
                <img id="Imgx" src="~/images/exterieur.jpg" alt="Alternate Text" />
                <img id="Imgx" src="~/images/exterieur2.jpg" alt="Alternate Text" />
                <img id="Imgx" src="~/images/exterieur3.jpg" alt="Alternate Text" />
                <img id="Imgx" src="~/images/exterieur4.jpg" alt="Alternate Text" />


            </div>
        </div>

    </section>

</body>
</html>